# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Build output
dist/
build/

# Test coverage
coverage/